<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>栏目管理</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a>课程管理</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">栏目管理</a></li>
				</ul>
			</div>
			<div class="min">
				<!--查询-->
				<div class="query">
					<form name="seachform" id="seachform" action="{:U('classify/index')}"  method="post" class="form">
						<div class="form_input mg_trb">
							<label class="text">快速检索</label>
							<input type="text" name="info[keyword]" id="keyword" value="{$keyword}" placeholder="请输入栏目编号或名称" maxlength="50"/>
						</div>
						<div class="button mg_trb">
							<i class="fa fa-refresh ico"></i>
							<input type="button" value="重置" class="but chongzhi" onclick="location.href='{:U('classify/index')}'"/>
						</div>
						<div class="button mg_trb">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but chaxun"/>
						</div>
					</form>
				</div>
				<div class="tianjia">
					<a class="tianjia_but" href="{:U('classify/addclassify')}">
						<i class="fa fa-plus"></i>
						添加栏目分类
					</a>
				</div>
				<div class="table_box">
					<table class="table" border="" cellspacing="" cellpadding="">
						<colgroup>
							<col width="5">
							<col width="200">
							<col width="200">
							<col width="200">
						</colgroup>
						<thead>
							<tr>
								<th>栏目编号</th>
								<th>栏目名称</th>
								<!--<th>分类图片</th>
								<th>分类banner图</th>
								<th>分类轮播图</th>
								<th>分类简介</th>-->
								<th>排序</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="listinfo" id="content">
							<tr>
								<td>{$content.classify_id}</td>
								<td>{$content.classify_name}</td>
								<!--<td><img style="height: 30px;width:30px;" src="{$content.classify_icon}"  /></td>
								<td><img style="height: 30px;width:30px;" src="{$content.classify_pic}"  /></td>
								<td><img style="height: 30px;width:30px;" src="{$content.classify_images}"  /></td>
								<td>{$content.classify_remarks}</td>-->
								<td>{$content['classify_sort']}</td>
								<td>
									<a href="{:U('classify/editclassify',array('classify_id'=>$content['classify_id']))}"  class="but chaxun">
										<i class="fa fa-edit"></i>
										编辑
									</a>
									<!--
									<a href="{:U('classify/delclassify',array('classify_id'=>$content['classify_id']))}" onclick="{if(confirm('确认删除?')){return true;}return false;}"  class="but chongzhi">
										<i class="fa fa-trash-o"></i>
										删除
									</a>
									-->
								</td>
							</tr> 
							</volist>
						</tbody>
					</table>
				</div>
				{$pageshow}
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
	});
</script>
