<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
		<title>研习班管理</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
					<li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">其他设置</a></li>
					<li> > </li>
					<li><a href="javascript:void(0);">研习班管理</a></li>
				</ul>
			</div>
			<div class="min">								
				<div class="query">
					<form  name="seachform" id="seachform"  action="{:U('Workinfo/workoper')}"  method="post" class="form">
						<div class="form_input mg_trb">
		                    <label class="text">查询</label>
		                    <input type="text" name="info[focus_title]" id="focus_title" value="{$focus_title}"  placeholder="请输入地址或班级名"  maxlength="15"/>
	                	</div>		
						<div class="form_input mg_trb form-date">
							<label class="text">时间</label>
								<input type="text" class="laydate-icon layer-date" name="info[starttime]"  value="{$starttime}"  id="start" placeholder="开始时间" readonly/>
								<span>--</span>
								<input type="text" class="laydate-icon layer-date" name="info[endtime]"  value="{$endtime}"  id="end" placeholder="结束时间" readonly/>
						</div>
						<div class="select mg_trb">
							<span class="text">研习班状态</span>
							<select name="info[work_type]">
								<option value="">--请选择状态--</option>
								<volist name="workType" id="data">
									<option value="{$key}" <if condition="$workTType eq $key ">selected</if>>{$data}</option>
								</volist>
							</select>
						</div>

						<div class="button mg_trb" onclick="location.href='{:U('Workinfo/workoper')}'">
							<i class="fa fa-refresh ico"></i>
							<input type="button" value="重置" class="but chongzhi" />
						</div>
						<div class="button mg_trb chaxun">
							<i class="fa fa-search ico"></i>
							<input type="submit" value="查询" class="but " style="    position: absolute; background: none;z-index: 2;" />
						</div>
					</form>
				</div>
				<!--添加幻灯-->
		        <div class="tianjia">
		            <a class="tianjia_but" href="{:U('Workinfo/addinfo')}">
		                <i class="fa fa-plus"></i>
		                	添加研习班
		            </a>
		        </div>
				
				<div class="table_box">
					<table class="table" border="" cellspacing="" cellpadding="">
						<thead>
							<tr>
								<th>班级编号</th>
								<th>班级名称</th>
								<th>班级地址</th>
								<th>班级时间</th>
								<th>添加时间</th>
								<th>人数</th>
								<th>状态</th>
								<th>操作</th>						
							</tr>
						</thead>
						<tbody>
							<volist name="arr" id="v">
							<tr>
								<td>{$v.work_id}</td>
								<td>{$v.work_title}</td>
								<td>{$v.work_address}</td>
								<td>{$v.work_time}</td>
								<td>{$v.work_addtime|date='Y-m-d H:i:s',###}</td>	
								<td>{$v.work_num}</td>
								<td>{$workType[$v['work_type']]}</td>
								<td>
									 <if condition="$v.work_type eq 1">
										<a class="but chongzhi" href="{:U('Workinfo/soldOut',array('work_id'=>$v['work_id']))}" onclick="{if(confirm('确定更改该研习班状态?')){return true;}return false;}"><i class="fa fa-edit"></i>售罄</a>
									 </if>
								     <a class="but chaxun" href="{:U('buxiyanfa/buxiyanfa',array('work_id'=>$v['work_id'],'work_title'=>$v['work_title']))}"><i class="fa fa-eye"></i>报名详情 </a>
                   					 <a title="编辑" href="{:U('Workinfo/edit',array('work_id'=>$v['work_id']))}" class="but chaxun" ><i class="fa fa-edit"></i>编辑</a>
									 <br>
									 <a title="席位管理" href="{:U('Workinfo/seat',array('work_id'=>$v['work_id'],'work_title'=>$v['work_title']))}" class="but chaxun" ><i class="fa fa-edit"></i>席位管理</a>
                    				 <a title="删除" href="{:U('Workinfo/delworkinfo',array('work_id'=>$v['work_id']))}" onclick="{if(confirm('确定要删除吗?')){return true;}return false;}" class="but chongzhi" > <i class="fa fa-trash-o"></i>删除</a>									 
									 <a class="but chaxun" href="{:U('Workinfo/sendtplmsg',array('work_id'=>$v['work_id']))}"><i class="fa fa-paper-plane-o"></i> 发送消息 </a>
									 <a href="{:U('Workinfo/sendmsg',array('work_id'=>$v['work_id']))}" class="but chaxun">
										<i class="fa fa-paper-plane-o"></i>
										发送短信通知</a>
								</td>	
							</tr>
							</volist>
						</tbody>
					</table>					
				</div>				
				{$pageshow}
			</div>
		</div>
	</body>
</html>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<script type="text/javascript">
	$(function(){
		$(".right_min").height($(window).height());
	});
</script>
<script>
    //laydate({elem: "#hello", event: "focus"});
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD",
        min: "2000-01-01",
        max: "2100-01-01",
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD",
        min: "2000-01-01",
        max: "2100-01-01",
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
</script>