<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
		<link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		<script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/admin/js/icheck/icheck.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/icheck/square/green.css">
		<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
        <script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
		<script src="__PUBLIC__/admin/js/layer/layer.js"></script>
	</head>
	<style>
		.form-button .ke-inline-block.but{margin-top:0;}
		.form-button .ke-button-common{display:block;width:100%; height:100%; line-height:38px; background:none;}
		.form-button .ke-button-common.ke-button{color:#fff; font-size:16px;}
		.form-button .ke-upload-area.ke-form .ke-upload-file{display:block;width:100% !important; height:100%;     cursor: pointer;}
	</style>
	<script type="text/javascript">
	
    var editor;
	KindEditor.ready(function(K) {
	    
		editor = K.create('textarea[id="level_remark"]', {
			uploadJson : '{:U('kindeditor/upload_json',array('dir'=>image))}',
			fileManagerJson : '{:U('kindeditor/file_manager_json')}',
			allowFileManager : true,
			urlType : 'domain',
			afterCreate : function() {
				this.sync(); 
			},
			afterBlur:function(){ 
				this.sync(); 
			}
	  });
		//图
		var uploadbutton = K.uploadbutton({
			button : K('#uploadbutton')[0],
			fieldName : 'imgFile',
			url : '{:U('kindeditor/upload_json',array('dir'=>image))}',
			afterUpload : function(data) {
				if (data.error === 0) {
					var url = K.formatUrl(data.url, 'domain');
					$("#level_image").val(url);
				} else {
					alert(data.message);
				}
			},
			afterError : function(str) {
				alert('自定义错误信息: ' + str);
			}
		});
		uploadbutton.fileBox.change(function(e) {
			uploadbutton.submit();
		});
	});
	</script>
	<body>
		<div class="right_min">
			<div class="crumbs_nav">
				<i class="iconfont icon-shouye"></i>
				<ul>
				    <li><a href="{:U('index/welcome')}">首页</a></li>
					<li> > </li>
					<li><a href="#">课程管理</a></li>
					<li> > </li>
					<li><a href="{:U('level/levellist')}">等级列表</a></li>
					<li> > </li>
					<li><a href="#">编辑等级</a></li>
				</ul>
			</div>
			<div class="min">
				<div class="form_box">
					<form name="myform" id="myform" action="{:U('level/editlevel',array('level_id'=>$level['level_id']))}" method="post" onsubmit="return check()">
						<div class="form-item">
							<label class="form-label">等级名称</label>
							<div class="form-text form-input-block">
								<input type="text" name="info[level_name]" id="level_name"  placeholder="请输入等级名称" value="{$level.level_name}" maxlength="20"/>
								<i class="aa1" style="display:none;color:red;">等级名称不能为空</i>
							</div>
						</div>
                        <div class="form-item">
							<label class="form-label">所需时长（秒）</label>
							<div class="form-text form-input-block">
								<input type="text" name="info[level_learntime]" id="level_learntime" value="{$level.level_learntime}"  placeholder="请输入所需时长"   onkeyup="value=value.replace(/[^\d.]/g,'')"  " maxlength="10"/>
								<i class="aa2" style="display:none;color:red;">所需时长不能为空</i>
							</div>
						</div>
						<div class="form-item">
							<label class="form-label">学习学分（分）</label>
							<div class="form-text form-input-block w50">
								<input type="text" name="info[level_score]" id="level_score" value="{$level.level_score}"  onkeyup="value=value.replace(/[^\d.]/g,'')"  placeholder="请输入学习学分" maxlength="10"/>
								<i class="aa3" style="display:none;color:red;">学习学分不能为空</i>		
							</div>
						</div>
						<div class="form-item">
						        <label class="form-label">等级图标</label>
							   	<div class="form-text form-input-inline w50">
									<input type="text" class="form-control" name="info[level_image]" id="level_image"  maxlength="150" value="{$level.level_image}" readonly />
								</div>
								<div class="form-button form-input-inline">
									<input type="button" id="uploadbutton" class="but shenhe mg_t0" value="上传" />
								    <i class="aa4" style="display:none;color:red;">等级图标不能为空</i>
								</div>	
						</div>
                        <div class="form-item">
							<label class="form-label">简介</label>
							<div class="form-textarea form-input-block">
								<textarea name="info[level_remark]" placeholder="请输入简介内容"  id="level_remark">{$level.level_remark}</textarea>
								<i class="aa5" style="display:none;color:red;">简介不能为空</i>
							</div>
						</div>
						<div class="form-item">
							<div class="form-button form-input-block">
								<input class="chaxun but" type="submit" value="提交"/>
								
								<button class="but chongzhi" type="button" onclick="location.href='{:U('level/levellist')}'">返回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	
	function check(){
		var level_name = document.getElementById("level_name").value;
				if(level_name==''){
				    $(".aa1").show();
					$('#level_name').focus();
					return false;
				}
				$(".aa1").hide();
		var level_learntime = document.getElementById("level_learntime").value;
				if(level_learntime==''){
				    $(".aa2").show();
					$('#level_learntime').focus();
					return false;
				}
				$(".aa2").hide();
		var level_score = document.getElementById("level_score").value;
				if(level_score==''){
				    $(".aa3").show();
					$('#level_score').focus();
					return false;
				}
				$(".aa3").hide();
        var level_image = document.getElementById("level_image").value;
				if(level_image==''){
				    $(".aa4").show();
					$('#level_image').focus();
					return false;
				}
				$(".aa4").hide();
		var level_remark = document.getElementById("level_remark").value;
				if(level_remark==''){
				    $(".aa5").show();
					$('#level_remark').focus();
					return false;
				}
				$(".aa5").hide();
	   }

</script>