<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>学习记录</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/font/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/html5.css"/>
		<script src="__PUBLIC__/home/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 25 * (clientWidth / 720) + 'px';
					};
				if(!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		</script>
	</head>
	<body>
	    <style>
			.btn00{ text-align:center; padding:0.75rem 0; font-size:0.95rem; color:#666; width:15rem;  margin:2rem auto;}
			.chongzhijilu_ul li {
				width: 100%;
				height: 3.5rem;
				padding: 0 3rem 0 2rem;
				border-bottom: 1px solid #f0f0f0;
				font-size: 1.3rem;
				line-height: 3.5rem;
				color: #363636;
				overflow: hidden;
			}
			.twlb_box{background: #fff;}
			.twlb_box .ct .twlb{ margin-bottom: 0;border-bottom: 1px solid #E5E6E8;border-radius:0;}
			.twlb_box .ct .twlb:last-child{border-bottom: none;}
			.twlb_box .ct .twlb dd .top a h4 strong{margin-right: 0;}
		</style>
		<div class="tab_list">
			<ul>
				<li>
					<a href="{:U('myinfo/xuexijilu')}">
						专题记录
					</a>
				</li>
				<li class="link">
					<a href="{:U('myinfo/xuexijilu_alone')}">
						课程记录
					</a>
				</li>
			</ul>
		</div>
		<div class="twlb_box pd_lr06">
			<div class="ct">
				<volist name="learnlist" id="learnlist">

					<dl class="twlb c">
						<dt>
							<a href="{:U('lessonalone/video',array('lesson_id'=>$learnlist['lesson_id']))}">
								<?php
							  $imgarr=explode("|",$learnlist['lesson_image']);
							    ?>
								<img src="<?php echo $imgarr[0];?>"/>
							</a>
						</dt>
						<dd>
							<div class="top">
								<a href="{:U('lessonalone/video',array('lesson_id'=>$learnlist['lesson_id']))}">
									<h4><!--此处文字请限制长度-->
										<strong>{$learnlist.lesson_name}</strong>
									</h4>
									<p>{$learnlist.lesson_remarks}</p>
								</a>
							</div>
							<div class="ct_1">
								<div class="left">
									<span></span>
								</div>
							</div>
							<input type="hidden"  value="{$learnlist['learn_id']}" />
							<div class="bottom"  >
								<strong onclick="del({$learnlist.learn_id},this)">删除</strong>
							</div>
						</dd>
					</dl>
				</volist>	 
			</div>
			    <if condition="$count egt 5"> 
			     <div id="gundong"></div>
			    <div onclick="getmore()" id="morebtn" data='1' class="btn00">加载更多</div>
				</if>
		</div>
		<div class="jilu">
			<i><img src="__PUBLIC__/home/images/jilu_img.png"/></i>
			<p>你还没有购买任何视频</p>
		</div>
	</body>
</html>
<script type="text/javascript">
		var _length= $('.ct .twlb').length;
		if(_length>=1){
			$('.jilu').hide();
		}
</script>
<script>
	function getmore(){
		var page=parseInt($('#morebtn').attr("data"))+1;
		$('#morebtn').attr("data",page);//重置当前页数
		//alert(page);
		$.getJSON("{:U('myinfo/xuexijilu_alone')}&p="+page,function(result){	
			var data=result.learnlist;
			if(data.length>0){
				var html="";
				var str="";
				for(var i=0;i<data.length;i++){
					html+="<div class=\"ct\">";
					html+="<dl  class=\"twlb c\">";
					html+="<dt>";
					html+="<a href=\"{:U('lessonalone/video')}&lesson_id="+data[i].lesson_id+"\">";
					html+="<img src="+data[i].lesson_image.split("|")[0]+">";
					html+="</a>";
					html+="</dt>";
					html+="<dd>";
					html+="<div class=\"top\">";
					html+="<a href=\"{:U('lessonalone/video')}&lesson_id="+data[i].lesson_id+"\">";
					html+="<h4 ><strong>"+data[i].lesson_name+"</strong></h4>";
					html+="</a>";
					html+="</div>";
					html+="<div class=\"ct_1\">";
					html+="<div class=\"left\">";
					html+="<span></span>";
					html+="</div>";
					html+="</div>";
					html+="<input type=\"hidden\" value="+data[i].learn_id+" >";
					html+="<div class=\"bottom\" >";
					html+="<strong  onclick=\"del("+data[i].learn_id+",this);\">"+"删除"+"</strong>";
					html+="</div>";
					html+="</dd>";
					html+="</dl>";
					html+="</div>";

				}
				$("#gundong").append(html);
			}else{
				$("#morebtn").html('亲，没有数据了！');
			}
		});
	}

	 //删除
	function del(id ,obj){
		 if(confirm("确定要删除数据吗？"))
		 {
			$.ajax({
				type: 'post',
				url: "{:U('myinfo/del_alone')}",
				data: {learn_id:id},
				success:function(msg){
					}
				})
			$(obj).parents('.twlb').remove();	
		 }
		
	}
</script>