<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>评论内容</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/html5.css"/>
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/iconfont.css">
        <link rel="stylesheet" type="text/css"  href="__PUBLIC__/admin/font/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
        <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="right_min">
            <div class="crumbs_nav">
                <i class="iconfont icon-shouye"></i>
                <ul>
                    <li><a href="javascript:void(0);">首页</a></li>
                    <li> > </li>
                    <li><a href="javascript:void(0);">课程管理</a></li>
                    <li> > </li>
                    <li><a href="javascript:void(0);">专题评论管理</a></li>
                    <li> > </li>
                    <li><a href="javascript:void(0);">回复(专题名称:{$course_name})</a></li>
                </ul>
            </div>
            <div class="min">
                <!--查询-->
                <div class="query">
                    <form name="seachform" id="seachform" action="{:U('comment/pinglun',array('comment_id'=>$comment_id))}"  method="post" class="form">
                        <div class="form_input mg_trb">
                            <label class="text">回复人</label>
                            <input type="text" name="info[keyword]" id="keyword" value="{$keyword}" placeholder="请输入回复人" maxlength="30"/>
                        </div>
                         <div class="form_input mg_trb form-date">
                                <label class="text">回复时间</label>
                                <input type="text" class="laydate-icon layer-date" name="info[starttime]"  value="{$starttime}"  id="start" placeholder="开始时间" readonly/>
                                <input type="text" class="laydate-icon layer-date" name="info[endtime]"  value="{$endtime}"  id="end" placeholder="结束时间" readonly/>
						</div>
                        <div class="button mg_trb">
                            <i class="fa fa-refresh ico"></i>
                            <input type="button" value="重置" class="but chongzhi" onclick="location.href = '{:U('comment/pinglun',array('comment_id'=>$comment_id,'course_name'=>$course_name))}'"/>
                        </div>
                        <div class="button mg_trb">
                            <i class="fa fa-search ico"></i>
                            <input type="submit" value="查询" class="but chaxun"/>
                        </div>
                    </form>
                </div> 
                <div class="table_box">
                    <table class="table" border="" cellspacing="" cellpadding="">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>回复人</th>
                                <th>回复内容</th>  
                                <th>点赞数量</th>
								<!--<th>回复数</th>-->
								<th>回复时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="comment" id="content">
                            <tr>
                                <td>{$content.comment2_id}</td>
                                <td>{$content.nickname}</td>						
								<td>{$content.comment2}</td>						
                                <td>{$content.comment2_good}</td> 
								<td>{$content.addtime2|date="Y-m-d H:i:s",###}</td>
                                <td>   
                                    <a href="{:U('comment/delcomment',array('comment2_id'=>$content['comment2_id'],'comment_id'=>$content['comment_id']))}" onclick="{
                                                                                    if (confirm('确认删除?')) {
                                                                                        return true;
                                                                                    }
                                                                                    return false;
                                                                                }"   class="but chongzhi">
                                        <i class="fa fa-trash-o"></i>
                                        删除
                                    </a>
                                </td>
                            </tr> 
                        </volist>				
                        </tbody>
                    </table>
                </div>
                {$pageshow}
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(function () {
        $(".right_min").height($(window).height());
    });
</script>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<script>
    //laydate({elem: "#hello", event: "focus"});
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD",
        min: "2000-01-01",
        max: "2100-01-01",
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD",
        min: "2000-01-01",
        max: "2100-01-01",
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
</script>
